<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This App Is Created By Rohit Kumar</p>
            <img class="portrait" src="/img/logo.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>